<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490325688457-q40tlt2mnofjsfc61ibh2nlch6a9760n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490325688457-q40tlt2mnofjsfc61ibh2nlch6a9760n</string>
	<key>API_KEY</key>
	<string>AIzaSyD6uUoRaiVt1yzk6Dq37Tt5kKVgxz7XdBg</string>
	<key>GCM_SENDER_ID</key>
	<string>490325688457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kando.kandoApp.beta</string>
	<key>PROJECT_ID</key>
	<string>card-ai---test</string>
	<key>STORAGE_BUCKET</key>
	<string>card-ai---test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490325688457:ios:923f77a6242705bc0f8658</string>
</dict>
</plist>
